= form_for [asignature.course, asignature], :html => { :multipart => true } do |form|
  = render 'shared/error_messages', :instance => asignature 
  = form.label 'Nombre'
  = form.text_field :name
  = form.label 'Profesor'
  = form.text_field :teacher_id
  = form.hidden_field :course_id
  = submit_tag 'Crear/Actualizar'